# Environment Variables (Development)
NODE_ENV="development"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# OAuth (Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# OAuth (Others - Optional)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

# Admin & Authentication
ADMIN_EMAIL=""
AUTH_TOKEN=""
BASE_URL="*******"
BETTER_AUTH_EMAIL=""

# Database Connections
DATABASE_URL="mongodb+srv://..."
DATABASE_URL2="postgresql://..."
MONGODB_URI="mongodb+srv://..."

# Storage & Assets
CLOUDINARY_URL="cloudinary://..."
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""
UPLOADTHING_APP_ID=""
UPLOADTHING_SECRET=""
UPLOADTHING_TOKEN=""

# Analytics (Google Analytics)
GA4_PROPERTY_ID=""
GA_CREDENTIALS_JSON='{"type":"service_account", ...}'

# Security & Verification
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
nextjs-turnstile="" 

# Email (Resend / SMTP)
RESEND_API_KEY=""
SMTP_FROM=""
SMTP_HOST="smtp.gmail.com"
SMTP_PASS=""
SMTP_PORT="587"
SMTP_USER=""

# Specialized Tokens & URLs
VERCEL_OIDC_TOKEN=""
NEXT_PUBLIC_BASE_URL="https://www.*******"
NEXT_PUBLIC_VERCEL_URL="www.*******"

# AI Integration
GEMINI_API_KEY=""

# Vector/Other DBs (Optional)
TURSO_AUTH_TOKEN=""
TURSO_DATABASE_URL=""
